/*-------------
    RESET
-------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*-------------
    BODY
-------------*/
.container {
    max-width: 75rem;
    margin: auto;
    background-color: #083b4c;
    text-align: center;  
}
h1 {
    color: #fff;
    font-size: 3.125rem;
}
.item {
    width: 5rem;
    height: 5rem;
    color: #fff;
    background-color: chocolate;
}